*{
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
.cont{
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 80px 70px;
    background:url('./img/22.jpg');
}
.cont-inner{
    position: relative;
    width:100%;
    height:100%;
}
.el{
    position: absolute;
    width: calc((100% - 20px)/3);
    height: calc((100% - 10px)/2);
    background: #333;
    overflow: hidden;
    transition: width 1s, height 0.5s 1s, top 0.5s 1s, left 0.5s 1s 
}
.el:nth-of-type(1), .el:nth-of-type(2), .el:nth-of-type(3) {
    top: 0;
}
.el:nth-of-type(4), .el:nth-of-type(5), .el:nth-of-type(6) {
    top: calc((100% - 10px)/2 + 10px);
}

.el:nth-of-type(3n+1) {
    left: 0;
}
.el:nth-of-type(3n+2) {
    left: calc((100% - 20px)/3 + 10px);
}
.el:nth-of-type(3n+3) {
    left: calc((100% - 20px)/3 * 2 + 20px);
}
.el-inner{
    width: 100%;
    height: 100%;
    position:relative;
    transition:transform 2s;

}
.cont.cont-init .el-inner{
    transform: translate3d(0, 100%, 0)
}

.el:nth-of-type(1) .el-inner{
    transition-delay: 0.1s
}
.el:nth-of-type(2) .el-inner{
    transition-delay: 0.2s
}
.el:nth-of-type(3) .el-inner{
    transition-delay: 0.3s
}
.el:nth-of-type(4) .el-inner{
    transition-delay: 0.4s
}
.el:nth-of-type(5) .el-inner{
    transition-delay: 0.5s
}
.el:nth-of-type(6) .el-inner{
    transition-delay: 0.6s
}

.el-bg{
   width:100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   opacity: 0.5;
}
.el:nth-of-type(1) .el-bg{
    background-image: url('/img/1.jpg');
}
.el:nth-of-type(2) .el-bg{
    background-image: url('/img/2.jpg');
}
.el:nth-of-type(3) .el-bg{
    background-image: url('/img/3.jpg');
}
.el:nth-of-type(4) .el-bg{
    background-image: url('/img/4.jpg');
}
.el:nth-of-type(5) .el-bg{
    background-image: url('/img/5.jpg');
}
.el:nth-of-type(6) .el-bg{
    background-image: url('/img/6.jpg');
}
.el:nth-of-type(7) .el-bg{
    background-image: url('/img/7.jpg');
}
.el-title{
    position: absolute;
    top: 50%;
    margin-top:-30px;
    width:100%;
    height: 60px;
    line-height: 60px;
    transition: opacity 0.5s 1.5s;  
}
.el-heading{
    text-align: center;
    font-size: 16px;
    color: rgb(137, 230, 109);
}
.el-content {
    position: absolute;
    top: 20px;
    width:100%;
    height:60px;
}
.el-text{
    position: absolute;
    left: 20px;
    font-size: 0px;
    opacity: 0;
    color: #fff;
}
.el-close{
    position: absolute;
    right: 20px;
    width: 0px;
    height: 0px;
    opacity: 0;
}
.el-close::before, .el-close::after{
    position: absolute;
    top: 50%;
    margin-top: -3px;
    content: '';
    width: 100%;
    height: 6px;
    background: #fff;
}
.el-close::before{
    transform: rotateZ(45deg)
}
.el-close::after{
    transform: rotateZ(-45deg);
}
.el:hover .el-bg{
    opacity: 1;
    transition: opacity 0.2s;
}
.el.el-active {
    width:100%;
    height:100%;
    top: 0;
    left:0;
    z-index: 2;
    transition: top 0.5s, left 0.5s, height 0.5s,width 1s 0.5s; 
}
.cont-active .el:not(.el-active){
    height: 0;
    opacity: 0;
    transition: height 0.5s, opacity 0.5s;
}
.el-active .el-text{
    font-size: 30px;
    opacity: 1;
    transition: all 0.5s 1s;
}
.el-active .el-close{
    width:60px;
    height:60px;
    opacity: 1;
    transform: rotateZ(360deg);
    transition: all 0.5s 1s;
}
.el:hover .el-heading{
    font-size: 30px;
    transition: font-size 0.2s;
}
.cont-active .el-title{
    opacity: 0;
    transition: opacity 0.5s;
}
.cont-active .el-bg{
    opacity: 1;
}
